<div class="col-md-8 col-md-offset-2">
    <h2>Add a Book</h2>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="">{{ form.title.label }}</label>
            {{ form.title }}<span class="pull-right">{{ form.title.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="">{{ form.price.label }}</label>
            {{ form.price }}<span class="pull-right">{{ form.price.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="">{{ form.pub_date.label }}</label>
            {{ form.pub_date }}<span class="pull-right">{{ form.pub_date.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="">{{ form.publish.label }}</label>
            {{ form.publish }}<span class="pull-right">{{ form.publish.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="">{{ form.authors.label }}</label>
            {{ form.authors }}
            <span class="pull-right">{{ form.authors.errors.0 }}</span>
        </div>
        <br>
        <input type="submit" class="btn btn-success pull-right">
    </form>
</div>