<div class="col-md-10 col-md-offset-1">
    <h2>Show Authors</h2>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>序号</th>
            <th>作者ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>生日</th>
            <th>电话</th>
            <th>地址</th>
            <th>出版过的书籍</th>
            <th>编辑操作</th>
            <th>删除操作</th>
        </tr>
        </thead>
        <tbody>
        {% for author in current_page %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.age }}</td>
                <td>{{ author.authordetail.birthday|date:'Y-m-d' }}</td>
                <td>{{ author.authordetail.telephone }}</td>
                <td>{{ author.authordetail.address }}</td>
                <td>
                    <a href="/book/author2book/{{ author.pk }}" class="btn btn-success">详细列表</a>
                </td>

                <td><a href="/book/edit_author/{{ author.pk }}" class="btn btn-info">编辑</a></td>
                <td><a href="/book/delete_author/{{ author.pk }}" class="btn btn-danger">删除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include './paginator.html' %}
</div>


