<ul class="nav nav-pills nav-stacked menu">
    <li role="presentation"><a href="/book/index/">Home</a></li>
        <li role="presentation"><a href="/book/book_list/">Book List</a></li>
    <li role="presentation"><a href="#">Author List</a></li>
    <li role="presentation"><a href="#">Publish List</a></li>
    <li role="presentation"><a href="/book/add_book/">Add Book</a></li>
    <li role="presentation"><a href="">Add Author</a></li>
    <li role="presentation"><a href="">Add Publish</a></li>

</ul>