{% extends 'book/base.html' %}

{% block title %}
    <title>编辑作者-BMS</title>
{% endblock %}


{% block rightBox %}
    <div class="col-md-8 col-md-offset-2">
        <h2>Edit a Author</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="">姓名</label>
                <input type="text" class="form-control" name="name" value={{ author_obj.name }}>
                <span class="pull-right">{{ form.name.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label for="">年龄</label>
                <input type="text" class="form-control" name="age" value={{ author_obj.age }}>
                <span class="pull-right">{{ form.age.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label for="">生日</label>
                <input type="date" class="form-control" name="birthday"
                       value={{ author_obj.authordetail.birthday|date:"Y-m-d" }}>
                <span class="pull-right">{{ form.birthday.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label for="">电话</label>
                <input type="text" class="form-control" name="telephone" value={{ author_obj.authordetail.telephone }}>
                <span class="pull-right">{{ form.telephone.errors.0 }}</span>
            </div>
            <div class="form-group">
                <label for="">地址</label>
                <input type="text" class="form-control" name="address" value={{ author_obj.authordetail.address }}>
                <span class="pull-right">{{ form.address.errors.0 }}</span>
            </div>
            <br>
            <input type="submit" class="btn btn-success pull-right">
        </form>
    </div>
{% endblock %}