<div class="jumbotron" style="margin: 30px">
    <h1>Book Management System</h1>
    <p>It combines the knowledge of management science, system science, operations research,
        statistics, computer science and other disciplines. The three elements of library management system can be
        simplified and simplified: system viewpoint, mathematical method and computer application.</p>
    <p style="overflow: hidden">
        <a class="btn btn-primary btn-lg pull-right" href="https://www.baidu.com/" role="button">Read more</a>
    </p>
</div>
