{% extends 'book/base.html' %}

{% block title %}
    <title>出版社列表-BMS</title>
{% endblock %}

{% block rightBox %}
    <div class="col-md-10 col-md-offset-1">
        <h2>Show Publishes</h2>
        <table class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>序号</th>
                <th>出版社ID</th>
                <th>名称</th>
                <th>所在地</th>
                <th>邮箱</th>
                <th>出版过的图书</th>
                <th>编辑操作</th>
                <th>删除操作</th>
            </tr>
            </thead>
            <tbody>
            {% for publish in current_page %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ publish.id }}</td>
                    <td>{{ publish.name }}</td>
                    <td>{{ publish.city }}</td>
                    <td>{{ publish.email }}</td>
                    <td><a href="/book/publish2book/{{ publish.pk }}" class="btn btn-success">详细列表</a></td>
                    <td><a href="/book/edit_publish/{{ publish.pk }}" class="btn btn-info">编辑</a></td>
                    <td><a href="/book/delete_publish/{{ publish.pk }}" class="btn btn-danger">删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include './paginator.html' %}
    </div>

{% endblock %}