<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}

    {% endblock %}
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <style type="text/css">
        .navbar {
            border-radius: 0;
        }

        .menu > li {
            margin: 30px auto;
        }

        .menu > li a {
            border: 1px solid darkgray;
        }

    </style>
</head>
<body>
<div class="site-header">
    {% block site-header %}

    {% endblock %}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% block leftBox %}

            {% endblock %}
        </div>

        <div class="col-md-10">
            {% block rightBox %}

            {% endblock %}
        </div>
    </div>
</div>

<div class="site-footer">
    {% block site-footer %}

    {% endblock %}

</div>
</body>
</html>
