<ul class="nav nav-pills nav-stacked menu">
    <li class="active" role="presentation"><a href="/book/index/">Home</a></li>
    <li role="presentation"><a href="/book/book_list/">Book List</a></li>
    <li role="presentation"><a href="/book/author_list/">Author List</a></li>
    <li role="presentation"><a href="/book/publish_list/">Publish List</a></li>
    <li role="presentation"><a href="/book/add_author/">Add Author</a></li>
    <li role="presentation"><a href="/book/add_publish/">Add Publish</a></li>
    <li role="presentation"><a href="/book/add_book/">Add Book</a></li>
</ul>