{% extends 'login_reg/base.html' %}

{% block title %}
    <title>BMS</title>
{% endblock %}


{% block site-body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="jumbotron">
                    <h1>Book Management System</h1>
                    <p>It combines the knowledge of management science, system science, operations research,
                        statistics, computer science and other disciplines. The three elements of library management
                        system
                        can be
                        simplified and simplified: system viewpoint, mathematical method and computer application.</p>
                    <h2>Demand</h2>
                    <p> 1. list book list, publisher list and author list.</p>
                    <p> 2. click the author and list the list of books published.</p>
                    <p> 3. click the press and list the list of books</p>
                    <p>4. we can create, modify and delete books, authors and publishers.</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
